@page
@model FacebookWall.Pages.CommentModel

@{
    ViewData["Title"] = "Comment";
}

<div class="row justify-content-center">
    <div class="col-md-4 bg-light mt-3 pt-2 rounded">
        <div class="row align-items-start">
            <div class="col-md-1 align-items-center">
                <img src="/Images/profile.jpg"
                     class="rounded-circle"
                     alt="Avatar"
                     width="40"
                     height="40"
                     style="margin-top: 4px" />
            </div>
            <div class="col-md ml-2">
                <small class="font-weight-bold">@Model.PostersName</small>
                <p><small class="text-muted font-weight-light">@Model.Post.DateAndTime.ToString("d/M/yyyy HH:mm")</small></p>
            </div>
        </div>
        <p style="font-size: 14px">@Model.Post.Body</p>
    </div>
</div>
<hr class="bg-primary mt-3"/>
<div class="row justify-content-center">
    <div class="col-md-4 bg-light mt-3 pt-2 rounded">
        <form method="post">
            <p class="align-content-start font-weight-bold">
                <svg width="2em" height="0.8em" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                </svg>Create A New Comment
            </p>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="RepliersName" placeholder="Tell us your name" class="form-control" />
                <span asp-validation-for="RepliersName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <textarea asp-for="Reply.Body" placeholder="Write your comment here" class="form-control" style="height: 100px"></textarea>
                <span asp-validation-for="Reply.Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="POST" class="btn btn-primary" />
                <input type="hidden" name="id" value="@Model.Post.Id" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
